%h1 New ticket
%br
= form_for @ticket do |f|
  - if @ticket.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @ticket.errors.full_messages
          %li= message
  .field
    = f.label :subject
    = f.text_field :subject
  .field
    = label_tag :body
    = text_area_tag :body
  .field
    = f.label :department
    = select_tag 'department_id', options_from_collection_for_select(Department.find(:all).map{|u| [u.id, u.name]}, :first, :last)
  .field
    = f.label :username
    = f.text_field :username
  .field
    = label_tag :email
    = f.text_field :usermail
  = f.submit nil, :class => 'btn btn-primary'